<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Insta Game </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" /><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href="css/style.css"> 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
  <link rel="shortcut icon" href="img/favicon.png" >

</head>
<body>
  <!-- partial:index.partial.html -->
  <div class="stories-wrapper">
    <div class="warning-message">This demo looks best at widths below 1000px. Try 400px.</div>
    <div class="success-message">👍</div>
    <section class="stories">
    </section>
  </div>
  
  <div class="feed">
    <div class="feed__cover"></div>
    <div class="header"></div>
    <div class="story-bar"></div>
    <div class="feed__content">
      <div>To load new stories.<br />Reload the page after 10 minutes at least.</div>
      <br>
      <img src="img/design/refresh.png" href="window.location.reload();" alt="Refresh" width="5%">
      <br>
      <br>
      <div class="stop__game" >
        <form action="{{ url_for('init') }}" method="get">
          <button class="btn btn-danger" type="submit" >Stop game?</button> 
        </form>
      </div>
    </div>
    <div class="tab-bar"></div>
  </div>
  
  
  <script type="text/template" id="story-template">
    <article class="story" id="story-<%- index %>" data-story-id="<%- index %>">
      <div class="story__cover"></div>
      <div class="story__top">
        <div class="story__details">
          <div class="story__avatar" style="background-image: url(profile/<%- user %>.jpg)"></div>
          <div class="story__user"><%- user %></div>
          <div class="story__time"><%- time %></div>
        </div>
      </div>
      <div class="story__bottom">
        <button class="story__send-button">Send Message</button>
      </div>
      <% if (is_video) { %>
        <video class="story__video" autoplay loop muted>
          <source src="<%- video %>" type="video/mp4">
        </video>
      <% } else { %>
        <div class="story__image" style="background-image: url(<%- video %>)"></div>
      <% } %>
    </article>
  </script>
  
  <script type="text/template" id="story-bar-avatar-template">
    <div class="story-bar__user" data-story-id="<%- index %>">
      <div class="story-bar__user-avatar" style="background-image: url(profile/<%- user %>.jpg)"></div>
      <div class="story-bar__user-name"><%- user %></div>
    </div>
  </script>
  <!-- partial -->
  <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js'></script>
  <script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/9332/jquery.event.ue.js'></script>
  <script  src="js/script.js"></script>
  <p type="text" class="form-control rounded-0 d-none" name="account_to_mention" id="account_to_mention"></p>
  <script>
    var storiesDataFlask = '{{stories | tojson}}';
    localStorage.setItem('storiesDataFlask', storiesDataFlask);
  </script>
  
  </body>
 
  </html>

